@import "../../../styles/settings.scss";

.leftSide {
  margin-right: 30px;
  width: 45%;
  min-width: 330px;
  margin-top: 30px;
  border: 2px solid $form-border-color-soft;
}

.topMenu {
  background-color: $footer-bg;
  height: 50px;
  width: 100%;
  margin: 0;
  .text {
    color: $main-light;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  .dots {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

    }
    li {
      padding: 0;
      color: $main-light;
      font-size: 13px;
      margin-left: 0.5rem;
      cursor: pointer;
      &.active,
      &:hover {
        color: $primary;
      }
    }
  }
}

.productImage {
  height: 400px;
  width: 100%;
  background-color: $form-border-color-soft;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  .buttonAddToCart {
    display: none;
    padding: 6px 12px;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 45px;
    align-items: center;
    .iconCart {
      padding-right: 8px;
      font-size: 23px;
    }
  }
  .textInCircle {
    display: none;
    .textData {
      margin: 0 3px;
      flex-direction: column;
      color: $main-light;
      background-color: rgba($colorDark, 0.80);
      width: 75px;
      height: 75px;
      border-radius: 75px;
      .number {
        font-size: 27px;
        font-weight: 700;
      }
      .unit {
        text-transform: uppercase;
        margin-top: -3px;
        font-size: 15px;
        font-weight: 600;
      }
    }
  }
  &:hover {
    .buttonAddToCart {
      display: flex;
    }
    .textInCircle {
      display: flex;
    }
  }
}

.aboutProduct {
  flex-direction: column;
  padding: 15px 0;
  .productName {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .iconsStars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .selectIconStar {
      .star {
        display: none;
      }
    }
    .selectIconStar:hover, .selectIconStar:hover~.selectIconStar {
      .regularStar {
        display: none;
      }
      .star {
        display: inline-block;
      }
    }
  }
  .line {
    margin: 15px 0;
    width: 95%;
    border-top: 4px solid $colorLightGray;
    .innerLine {
      margin-top: -4px;
      width: 10%;
      border-top: 4px solid $primary;
    }
  }
}

.elementsBox {
  padding: 0 15px;
  .fontIcons {
    flex-direction: row;
    .iconBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border: 1px solid $colorGray;
      margin-right: 5px;
      &:hover {
        color: white;
        background-color: $primary;
        border-color: $primary;
        .selectIconHeart {
          .heart {
            display: block;
          }
          .regularHeart {
            display: none;
          }
        }
      }
      .selectIconHeart {
        .heart {
          display: none;
        }
      }
      svg {
        font-size: 20px;
      }
    }
  }
}

.priceIcons {
  .priceBefore {
    text-decoration: line-through;
    padding-right: 8px;
  }
  .priceAfter {
    padding: 10px;
    font-size: 18px;
  }
}

.rightSide {
  width: 100%;
  margin-top: 30px;
}

.photoRight {
  background-color: $main-light;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 600px;
  width: 100%;
  .textElements {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
    background-color: rgba($colorDark, 0.70) ;
    text-transform: uppercase;
    flex-direction: column;
    .title {
      font-size: 50px;
      color: $main-light;
      span {
        font-weight: bold;
      }
    }
    .subtitle {
      color: $main-light;
      font-size: 20px;
    }
    .buttonShopNow {
      position: absolute;
      font-size: 15px;
      font-weight: 700;
      margin-bottom: -200px;
    }
  }
}

.buttonShopNow {
  background-color: $main-light;
  color: $text-color;
  &:hover {
    background-color: $primary;
    color: $main-light;
  }
}

.iconWrapper {
  background-color: $footer-bg;
  cursor: pointer;
  width: 100%;
  height: 40px;
  svg {
    color: white;
  }
  &:hover {
    background-color: $primary;
  }
}

@media (max-width: 530px) {
  .photoRight {
    .textElements {
      .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        margin-bottom: 20px;
      }
      .subtitle{
        font-size: 15px;
        margin-bottom: 50px;
      }
      .buttonShopNow {
        font-size: 13px;
      }
    }
  }

}
