@import "../../../styles/settings.scss";

.sticky {
  background: $main-light;
  opacity: 90%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 230px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1000;
}

.button {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.btnCompare {
  height: 50px;
  text-transform: uppercase;


}
